.navbar {
  background-color: #3f9434;
  margin-bottom: 2rem;
}
.footer {
  background-color: #fafafa;
  padding-top: 2rem;
}
.jumbotron  {
  height: 25rem;
  background-image: url('/assets/images/back2.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  color:#fff;
  
  
}

.jumbotron h1,p {
  margin-left: 30%;
  margin-top: 3%;
}

@media (max-width: 768px) {
  .jumbotron h1, p {
    margin-left: 0;
    
  }
}


