* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  box-sizing: border-box;
}

.vert-align {
  margin-top: 12.5vh;
}

/* Navbar */
.navbar {
  background-color: #31bbee;
  padding: 24px 0;
  height: 12.5vh;
}

.navbar .navbar-brand,
.navbar ul li a {
  color: white;
}
.navbar-brand {
  font-size: 1.6em;
  text-shadow: 2px 2px 4px #000000;
}
.navbar ul li a {
  margin: 0 10px;
  font-size: 1.2em;
  color: #fafafa;
  /* text-transform: uppercase; */
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}
.navbar ul li a:hover {
  border-color: #fafafa;
}
.navbar ul li a.current {
  border-color: #fff;
}
.nav-item button {
  border: 1px solid #fafafa;
  background-color: #31bbee;
}
.nav-item button:hover {
  color: #31bbee;
  background-color: #fafafa;
  border: 1px solid #fafafa;
}
/* Footer */
.footer {
  background-color: #fafafa;
  margin-top: 2rem;
}

/* border */
.bord {
  border: 1px solid #fafafa;
}

/* Padding */
.py-1 {
  margin: 1rem 0;
}
.py-2 {
  margin: 2rem 0;
}
.py-3 {
  margin: 3rem 0;
}
.py-4 {
  margin: 4rem 0;
}

/* margin */
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}
.bottom-line {
  height: 2px;
  width: 3rem;
  background: #31bbee;
  display: block;
  margin: 0 auto 1rem auto;
}

.health-quote {
  height: 20rem;
  margin: 6rem 0 0 0;
  margin-left: 39%;
  display: flex;
}

.about-container {
  background: #31bbee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #31bbee,
    #31bbee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #31bbee,
    #31bbee
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 1.5rem;
  margin-bottom: 5rem;
}

.hr-style {
  height: 2px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(247, 243, 243, 0.966);
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 25s linear infinite;
}
.slideshow li:nth-child(1) {
  min-height: 100%;
  background: url("/assets/images/main1.jpg") rgb(150, 149, 149);
  background-size: cover;
  background-blend-mode: multiply;
}
.slideshow li:nth-child(2) {
  min-height: 100%;
  background: url("/assets/images/main2.jpg") rgb(150, 149, 149);
  background-size: cover;
  background-blend-mode: multiply;
  animation-delay: 5s;
}
.slideshow li:nth-child(3) {
  min-height: 100%;
  background: url("/assets/images/main3.jpg") rgb(150, 149, 149);
  background-size: cover;
  background-blend-mode: multiply;
  animation-delay: 10s;
}
.slideshow li:nth-child(4) {
  min-height: 100%;
  background: url("/assets/images/main4.jpg") rgb(150, 149, 149);
  background-size: cover;
  background-blend-mode: multiply;
  animation-delay: 15s;
}
.slideshow li:nth-child(5) {
  min-height: 100%;
  background: url("/assets/images/main5.jpg") rgb(150, 149, 149);
  background-size: cover;
  background-blend-mode: multiply;
  animation-delay: 20s;
}
/* Slideshow */

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}

/* Home */
.img-home {
  background: url("/assets/images/home.jpg") center fixed rgb(150, 149, 149);
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  width: 100%;
}
.img-home:hover {
  opacity: 0.8;
}
.img-home #landing-header {
  padding-top: 30vh;
}
.card-space {
  margin: 5% 2%;
  display: flex;
  justify-content: space-around;
}
.card {
  overflow: hidden;
  box-shadow: 0 8px 6px -6px black;
}
.card-img-top {
  transition: transform 0.8s;
}
.card:hover .card-img-top {
  transform: scale(1.15);
  opacity: 0.8;
}
.card-title {
  font-size: 1.25em;
}
.card-subtitle {
  font-family: Oxygen, sans-serif;
  color: #999;
  font-size: 16px;
  line-height: 50px;
}
.card button {
  background-color: #31bbee;
  border: 1px solid #31bbee;
}
.card button a {
  color: #fafafa;
  text-decoration: none;
}
.card button:hover {
  background-color: #fafafa;
  border: 1px solid #31bbee;
}
.card button:hover a {
  color: #31bbee;
}
.card-footer-align {
  display: flex;
  justify-content: space-between;
}

.home-bottom {
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 30vh;
}
.home-bottom-content {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 5vh;
  color: white;
  font-size: 1.2em;
}
.home-bottom-content hr {
  height: 1px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #fafafa;
}
.form-wrapper {
  width: 50%;
  margin: 3% 35%;
}
.form-inline .form-control.email-field {
  border-radius: 0;
  border: 0;
  display: inline-block;
  width: 250px;
}
.email-button {
  border-radius: 0;
  display: inline-block;
  width: 80px;
}

.section1 {
  margin: 5rem 5rem 3rem 5rem;
  min-width: 60%;
  height: 40rem;
  background-color: #f2f2f2;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 0;
}
.section1 form {
  padding: 1.5em 2.5em 2.5em;
  text-align: left;
}
.section1 form label {
  color: #a6a6a6;
  margin-bottom: 0rem;
}
.section1 form input {
  border: 0.1em solid #a6a6a6;
  border-top: 0em;
  border-left: 0em;
  border-right: 0em;
  outline: none;
  line-height: 0.5rem;
  color: #8c8c8c;
  background-color: #f2f2f2;
  margin-bottom: 2rem;
  width: 100%;
}
.createbutton {
  width: 100%;
  display: block;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  border: none;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff);
}
.createbutton:hover {
  background: -webkit-linear-gradient(to right, #0067e6, #00b4e6);
  background: linear-gradient(to right, #0067e6, #00b4e6);
}
.fbbutton a,
.googlebtn a {
  text-decoration: none;
  color: #ffffff;
}

.fbbutton,
.googlebtn {
  width: 100%;
  display: block;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  border: none;
  font-weight: 500;
  text-align: center;
  padding-left: 1rem;
  background: linear-gradient(#4b6cb7, #182848);
  color: #ffffff;
}
.fbbutton {
  margin-top: 3rem;
}

.fbbutton:hover {
  background: linear-gradient(#496ab6, #132039);
}
.googlebtn:hover {
  background: linear-gradient(#e62a19, #c52407);
}
.hrule {
  width: 100%;
  text-align: center;
  border-bottom: 0.05em solid #a6a6a6;
  line-height: 0.05em;
  margin: 0.5rem auto 1.5rem;
}
.hrule span {
  background: #f2f2f2;
  padding: 0 10px;
  font-size: 0.56em;
  font-weight: normal;
  font-family: Tahoma, Geneva, sans-serif;
}
.hrule span em {
  color: #a6a6a6;
}

.googlebtn {
  background: linear-gradient(#e73827, #dd2808);
}
.fa-facebook,
.fa-google {
  text-align: center;
}

.fbbutton,
.googlebtn,
#usersignupicon,
.createbutton,
.section1 {
  -webkit-box-shadow: 0.3em 0.4em 0.5em #333333;
  -moz-box-shadow: 0.3em 0.4em 0.5em #333333;
  box-shadow: 0.3em 0.4em 0.5em #333333;
}

.image {
  width: 40%;
  background: url("/assets/images/userform.jpg");
  background-size: cover;
  background-position: center;
  float: left;
  height: 100%;
}
.userform {
  width: 60%;
  float: right;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 35vh;
  color: white;
  font-weight: 600;
}
#landing-header h1 {
  font-size: 3em;
  margin-bottom: 28px;
}
#landing-header p {
  font-size: 1.5em;
}
#landing-header .button1 {
  margin-top: 3%;
  margin-right: 32px;
  border: 1px solid #fafafa;
  background-color: #31bbee;
  border-radius: 0;
}
#landing-header .button1 a {
  text-decoration: none;
  color: #fafafa;
}
#landing-header .button1:hover {
  border: 1px solid #31bbee;
  background-color: #fafafa;
}
#landing-header .button1:hover a {
  color: #31bbee;
}
#landing-header .button2 {
  margin-top: 3%;
  margin-right: 32px;
  color: #31bbee;
  border: 1px solid #31bbee;
  background-color: #fafafa;
  border-radius: 0;
}
#landing-header .button2 a {
  text-decoration: none;
  color: #31bbee;
}
#landing-header .button2:hover {
  border: 1px solid #fafafa;
  background-color: #31bbee;
}
#landing-header .button2:hover a {
  color: #fafafa;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* --------------------User Login---------------------------------*/
#userbackground {
  background: url("/assets/images/usersignup.jpg");
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
}

#socialbuttons {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

#facebookbtn {
  margin-bottom: 1.5rem;
}
#googlebutton {
  margin-bottom: 2.5rem;
}

#fb,
#ge {
  margin-left: 1em;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 500;
}

#usersignupicon {
  margin: 1rem auto 0rem;
  border-radius: 100%;
  text-align: center;
  padding: 1rem 0.5rem 1rem 1rem;
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff);
  color: #ffffff;
  width: 5rem;
  height: 5rem;
}
#usersignupicon span {
  padding-top: 0.6rem;
}

#haveaccount {
  font-size: 0.9em;
  text-align: center;
}
#haveaccount strong {
  margin-left: 0.4em;
  text-decoration: none;
}
#haveaccount a {
  text-decoration: none;
  color: #1a75ff;
}

@media (min-width: 0px) and (max-width: 768px) {
  .section1 {
    min-width: 80%;
    margin: 5rem 0rem 3rem;
  }
  .userform {
    width: 100%;
  }
  .image {
    width: 0%;
  }
  .section1 form {
    padding: 1.5em 1em 2.5em;
  }
  #socialbuttons {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 914px) {
  .section1 {
    min-width: 80%;
  }
}

@media (max-width: 768px) {
  .health-quote {
    margin-left: 0%;
  }
}

/*..............about.............*/
.about-container {
  background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 1.5rem;
}

.card {
  background-color: #000000;
}

iframe {
  margin-top: 2rem;
  width: 50%;
  height: 300px;
} 

@media (max-width: 576px) {
  iframe {
    width: 100%;
  }
}

.h4-style {
  color: #000000;
}
.circular {
  width: 110px;
  height: 110px;
  border-style:double;
  border-radius: 50%;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
/* Contact Page */

#contact-a .text-fields {
    display: grid;
  grid-template-areas:
    "name email"
    "subject phone"
    "message message";
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
}

#contact-a .text-fields .name-input {
  grid-area: name;
}
#contact-a .text-fields .subject-input {
  grid-area: subject;
}

#contact-a .text-fields .email-input {
  grid-area: email;
}
#contact-a .text-fields .phone-input {
  grid-area: phone;
}
#contact-a .text-fields .message-input {
  grid-area: message;
  height: 100px;
}
#contact-a .text-fields .text-input {
  padding: 0.5rem 1rem;
}
#contact-a button[type="submit"] {
  background-color: #31bbee;
  color: #fff;
  width: 100%;
}
#contact-a button[type="submit"]:hover {
  color: #31bbee;
  background-color: #fff;
  border: 1px solid #0072ff;
}
#contact-a #contact-slide {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

/* footer */

#footer {
  background: #31bbee;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  z-index: 1;
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: 200;
}
#footer h2 {
  font-weight: bold;
}
#footer li {
  color: #fff;
  text-decoration: none;
}
#footer .footer-container {
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
#footer .footer-container > *:last-child {
  background: #04a4d4;
  grid-column: 1 / span 3;
  padding: 0.5rem;
  /* text-align: center; */
  font-size: 0.75rem;
  margin-top: 0;
}
#footer .footer-container #e {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
#footer #e .fa {
  margin-right: 1rem;
  border: 2px #fff solid;
  background: #31bbee;
  color: #f4f4f4;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  line-height: 20px;
  text-align: center;
  padding-top: 0.55rem;
}
#footer #e .fa:hover {
  background: #f4f4f4;
  color: #0072ff;
}
#footer .footer-container .col {
  color: #f4f4f4;
}
#footer .footer-container .col:hover {
  color: #0067e6;
}
.list li {
  /* padding: 0.3rem 0; */
  border-bottom: #0387af dotted 1px;
  width: 90%;
}
.list li:hover {
  color: #04a4d4;
}
.list li:last-child {
  border-bottom: none;
}
@media (max-width: 768px) {
  #contact-a .text-fields {
    grid-template-areas:
      "name"
      "subject"
      "email"
      "phone"
      "message";
  }
  #footer .footer-container {
    grid-template-columns: 1fr;
  }
  #footer .footer-container > *:last-child {
    grid-column: 1;
  }
  #footer .footer-container > *:first-child,
  #footer .footer-container > *:nth-child(2) {
    border-bottom: #444 dotted 1px;
    padding-bottom: 1rem;
  }
  #footer .footer-container #e > *:first-child {
    display: none;
  }
  #footer .footer-container #e {
    justify-content: center;
  }
}
